@import "tailwindcss";

@theme {
  --color-primary-green: #0a5d5c;
  --color-secondary-green: ##009490;
  --color-primary-black: #282829;
  --font-family-sans: "IBM Plex Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

@layer components {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
